/* Typography */

body, .g, .gsfi {
  font-family: 'Raleway', sans-serif !important;
}

h2 {
  text-align: center;
}

p {
  margin: 0.3em;
}

/*
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
*/

/* General */

body {
  margin: 0;
  padding: 0;
}

/* Navigation */

#logo img, #logocont img{
  height: 32px;
}

/* Devlinq */

.devlinq_div {
  display: block;
  border: 2px solid #EA4335;*/

  -moz-box-box-shadow: 0.3em 0.3em 0.3em #ccc;
  -webkit-box-box-shadow: 0.3em 0.3em 0.3em #ccc;
  box-shadow: 0.3em 0.3em 0.3em #ccc;
  margin: 3em;
  padding: 2em;
}

/* Languages Bar */

.languages_div {
}

.languages_select {
  display: block;
  text-align: center;
  width: 600px;
  margin: 0 auto;
}


.dropdown {
  padding: 3px;
  margin: 3px;
  width: 180px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #EA4335;
  background-color: white;
  font-size: 14px;
}

#submitSearchButton {
  padding: 3px;
  margin: 3px;
  width: 90px;
  height: 30px;
  background-color: #FFF;
  border: thin solid #FFF;
  border-radius: 4px;
  font-size: 15px;
  color: #c22f2f;
  font-weight: bold;
}

/* Stack Overflow Bar */

.stackoverflow_div {
  border-color: #FBBC05;
}

.stackoverflow_title {
  margin-bottom: 2em;
}

.linq {
  font-size: 1.1em;
  font-weight: 500;
  margin-left: 100px;
}

.linq:link {
  text-decoration: none;
  color: black;
}

.linq:visited {
  text-decoration: none;
  color: black;
}

.linq_so:hover {
  border-bottom: 1px solid #FBBC05;
  font-weight: 700;
}

.linq_la:hover {
  border-bottom: 1px solid #EA4335;
}

#link:link {
    color: #545454;
}

#link:visited {
    color: #3d7938;
}

#link:hover {
    color: #c22f2f;
}

#link:active {
    color: #545454;
}
